//- includes/menu.pug
nav
	.desktop#menu
		p.nav__title 
			a(href="/") Prevence a&nbsp;řešení úrazů dětí

		ul
			li 
				a(href="/") Online kurz
			li
				a(href="/1-o-cem-kurz-je.html") 1. O čem kurz je?
			li
				a(href="/2-prevence-urazu.html") 2. Prevence úrazů
			li
				a(href="/3-prvni-kroky-po-urazu.html") 3. První kroky po úrazu
			li
				a(href="/4-volani-o-pomoc.html") 4. Volání o pomoc
			li
				a(href="/5-vdechnuti-ciziho-predmetu.html") 5. Vdechnutí cizího předmětu
			li
				a(href="/6-zastava-dechu.html") 6. Zástava dechu
			li
				a(href="/7-masivni-krvaceni.html") 7. Masivní krvácení
			li
				a(href="/8-domaci-lekarnicka.html") 8. Domácí lékárnička
			li
				a(href="/9-zaverecny-kviz.html") 9. Závěrečný kvíz

		.icon.icon__heartbeat.nav__icon

	.mobile
		.nav__title
			a(href="/") Prevence a&nbsp;řešení úrazů dětí
		.nav__toggle
			a#toggle(href="#") Menu
			