body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100vh;
	font-size: @font-size-small;

	@media (min-width: @grid-md) {
		font-size: @font-size-normal;
	}
}

main,
footer {
	width: @content-width;
	margin-left: @nav-width;
	padding-left: 1em;

	@media (min-width: @grid-lg) {
		margin: 0 auto;
	}
}

main  {
	flex: 1;
}

.bold {
	font-weight: 700;
}
