doctype html
html(lang='cs-cz')
	include includes/header.pug
	body
		include includes/menu.pug
		include includes/lesson.pug
		//- +lesson(LessonName, VideoLink, NextLessonSlug)
		+lesson('8. Domácí lékárnička', 'https://www.youtube.com/embed/SMLT79tLjlY?rel=0&amp;showinfo=0')
		include includes/footer.pug
		