doctype html
html(lang='cs-cz')
	include includes/header.pug
	body
		include includes/menu.pug

		main
			include includes/mixins.pug
			//- +lesson(LessonName, VideoLink, NextLessonSlug)
			+lesson('8. Domácí lékárnička', 'https://www.youtube.com/embed/SMLT79tLjlY?rel=0&amp;showinfo=0', '/9-zaverecny-kviz.html')
			
		include includes/footer.pug
		