doctype html
html(lang='cs-cz')
	include includes/header.pug
	body
		include includes/menu.pug

		main
			h1 9. Závěrečný kvíz
			a(href="https://goo.gl/forms/Jj50fEcQ0BWUxugG3" target="_blank")
				img.responsive(src="/img/kviz.jpg" alt="Závěrečný kvíz")

			h2.left.mt-2 Gratulujeme!
			p Celý kurz se vám povedlo zdolat. Chcete si ověřit, co si z&nbsp;kurzu pamatujete?

			p <a href="https://goo.gl/forms/Jj50fEcQ0BWUxugG3" target="_blank">Zde najdete krátký závěreční kvíz</a>, kde si ověříte nové znalosti z&nbsp;kurzu.

			p Po&nbsp;dokončení kvízu nezapomeňte kliknout na odkaz „Zobrazit vaše skóre“ a&nbsp;zjistíte, jestli se vám povedlo dosáhnout 10 z&nbsp;10 správných odpovědí.

			h2.left.mt-2 Chcete certifikát o&nbsp;absolvování kurzu?
			p Kurz je možné zakoupit a&nbsp;tím také <a href="http://vimvic.cz/kurz/prevence-a-reseni-urazu-deti?p=36009" target="_blank">získat certifikát o&nbsp;absolvování kurzu</a>. Sdílením a&nbsp;koupí kurzu zároveň umožníte další šíření kurzu, aby se co nejvíce maminek naučilo v&nbsp;každé situaci postarat o&nbsp;své děti.

			h2.left.mt-2 Chcete se na něco zeptat?
			p Máte nějakou záludnou otázku nebo pochvalu? Napište nám na <a href="mailto:&#118;&#108;&#97;&#115;&#116;&#97;&#64;&#115;&#117;&#112;&#101;&#114;&#109;&#97;&#109;&#105;&#110;&#107;&#97;&#46;&#99;&#122;">vlasta@supermaminka.cz</a>. Děkujeme!

			
		include includes/footer.pug
		